<nav class="nav nav-pills nav-fill">
    <a class="nav-item nav-link" href="/homeworks">Homeworks</a>
    <a class="nav-item nav-link active" href="/exams">Exams</a>
    <a class="nav-item nav-link" href="/classes">Classes</a>
    <a class="nav-item nav-link" href="/logout">Logout</a>
</nav>
<br>
<br>
<div class="row justify-content-center">
    <div class="col-sm-6">
        <h4>Exams</h4>
        <br>
        <form class="form-horizontal" method="GET" action="/exams">
            <div class="form-row">
                <div>
                    <label class="col-sm-2 control-label" for="class">Class:</label>
                </div>
                <div class="col-sm-2">
                    <select class="form-control form-control-sm" id="class" name="class">
                        <option>All</option>
                        {{#each classes}}
                            <option>{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <div class="col-sm-1">
                        <div class="btn-group btn-group-sm">
                        <button type="submit" class="btn btn-primary">Filter</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <form method="POST" action="/exams/update">
        <table class='table'>
            <thead>
                <tr>
                    <th>Exam</th>
                    <th>Class</th>
                    <th>Date</th>
                    <th>Completed?</th>
                </tr>
            </thead>
            <tbody>
                {{#each exams}}
                    <tr>
                        <td>{{this.name}}</td>
                        <td>{{this.class}}</td>
                        <td>{{this.date}}</td>
                        <td><input type="checkbox" value={{this._id}} id='checked' name='checked'></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
        <div class='row'>
            <div class="col-sm-auto">
                <a href="/exams/add" class="btn btn-info" role="button">Add Exam</a>
            </div>
            <div class="form-group">
                <div class="col-sm-1">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>